<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pillsreminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_canard_application_hadrien"
        android:label="@string/app_description_name"
        android:roundIcon="@mipmap/logo_canard_application_hadrien"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.NewPainActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/pain_tab_fragment_title"/>
        <activity android:name=".activities.NewPillActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/pill_tab_fragment_title"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>